
    .theme-line-0 {
      --layer2: #f507a0;
      --layer1: #2ddfc7;}
    
    .theme-line-1 {
      --layer1: #2ddfc7;
      --layer2: #f507a0;}
    
    .theme-line-22 {
      --layer1: #2ddfc7;}
    