
    .theme-color-0 {
      --layer1: #fff4e3;
      --stroke: #2e4369;}
    
    .theme-color-2 {
      --layer1: #fff4e3;
      --layer2: #eefcff;
      --stroke: #2e4369;}
    
    .theme-color-3 {
      --layer3: #fff4e3;
      --layer2: #ffe1bd;
      --layer1: #f27e7c;
      --stroke: #2e4369;}
    
    .theme-color-4 {
      --layer1: #dbf1ff;
      --stroke: #2e4369;}
    
    .theme-color-5 {
      --layer3: #9ab2d8;
      --layer2: #bacae9;
      --layer1: #dde5f4;
      --stroke: #2e4369;}
    
    .theme-color-6 {
      --layer2: #a6b1c9;
      --layer1: #c3d6f9;
      --stroke: #2e4369;}
    
    .theme-color-7 {
      --layer3: #e0eafc;
      --layer2: #f27e7c;
      --layer1: #8fa9d8;
      --stroke: #2e4369;}
    
    .theme-color-8 {
      --layer3: #ef5940;
      --layer2: #bb806c;
      --layer1: #e8ddc9;
      --stroke: #2e4369;}
    